.DS_Store
# macOS custom folder icons
Icon?

# Ignore archived screenshots in Google Meet guide
Guide/Google Meet/Fig/Unused/
Guide/Google Meet/Fig/Unused/**

# Ignore workspace-specific config artifacts
Guide/.clasp.json

# Ignore transient Google Drive artifacts
.tmp.driveupload/
VJU Document Handling.gsheet
